{# empty Twig template #}


<h3>{{ entity.firstname}}</h3>
<h3>Resource ID : {{entity.rpId}}</h3><br>

<img src="data:image/jpeg;base64,base64_encode({{entity.photo}})" style="float:right; margin-right:100px" alt="photo" height="200px" width="200px">