<h1>Welcome to Resource Person Page :D</h1>


<a href="{{ path('rsp_new')}}" style="text-decoration: none;background-color:#08C;color: #000"> Add New</a><br>
<a href="{{ path('rsp_new')}}" style="text-decoration: none;background-color:#08C;color: #000"> Edit</a><br>
<a href="{{ path('rsp_new')}}" style="text-decoration: none;background-color:#08C;color: #000"> Delete</a><br>
<a href="{{ path('rsp_new')}}" style="text-decoration: none;background-color:#08C;color: #000"> View All</a>

